@model Web.ViewModels.EditPasswordViewModel

@{
    ViewBag.Title = "Edit Password";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

<div class="ui one item fixed menu c_h">
    <a href="@Url.Action("Settings","User")" class="item l_a bl">
        <p><i class="chevron left icon bl"></i><span class="tc">ኢሜል ማስተካከያ</span></p>
    </a>
</div>



<div class="ui container main_con">
    <div class="ui container">
        <div class="ui grid">
            <div class="sc">
                <br>

                @using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post, new { @class = "ui form sixteen wide column", role = "form" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.AntiForgeryToken()

                    <div class="ui field">
                        <label>አሁን የሚጠቀሙት የሚስጥር ቃል</label>
                        @Html.PasswordFor(model => model.CurrentPassword)
                        @Html.ValidationMessageFor(model => model.CurrentPassword, "")
                    </div>
                    <div class="ui field">
                        <label>አድስ የሚስጥር ቃል</label>
                        @Html.PasswordFor(model => model.NewPassword)
                        @Html.ValidationMessageFor(model => model.NewPassword, "")
                    </div>
                    <div class="ui field">
                        <label>አዲሱን የሚስጥር ቃል ይድገሙ</label>
                        @Html.PasswordFor(model => model.ConfirmNewPassword)
                        @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "")
                    </div>
                    <button class="ui button green" type="submit">ሴቭ</button>
                    @Html.ActionLink("ይቅር", "Settings","User", new { }, new { @class = "ui button" })
                }

            </div>
        </div>

    </div>
</div>
