@model Web.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_LayoutSignIn.cshtml";
}

 

<div class="ui one item fixed menu c_h">
    <p class="item brand_color">የሚስጥር ቃል መቀየሪያ</p>
</div>

<div class="ui container main_con">

    <div class="ui container">
        <div class="ui grid">
            <div class="sc">

                <div class="ph"></div>

                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "ui form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Code)


                    <h4>የይለፍ ቃል ይቀይሩ</h4>

                    <div class="field">
                        <small>ኢሜል</small>
                        @Html.TextBoxFor(m => m.Email)
                    </div>

                    <div class="field">
                        <small>የይለፍ ቃል</small>
                        @Html.PasswordFor(m => m.Password)
                    </div>

                    <div class="field">
                        <small>የይለፍ ቃል ድጋሚ ያስገቡ</small>
                        @Html.PasswordFor(m => m.ConfirmPassword)

                    </div>
                    <br>
                    <button class="ui button orange" type="submit">ጨርስ</button>
                }


            </div>
        </div>

    </div>
</div>
