@model System.Collections.Generic.IEnumerable<Domain.Infrastructure.NewsPaper>

@{
    ViewBag.Title = "News Papers";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var count = 1;
}

<div class="ph"></div>
<div class="ui grid">
    <div class="twelve wide column">

    </div>

</div>
<div class="ui container grid">
    <div class="ui ten wide column centered">

        <div class="ui grid">
            <div class="ui main text container">
                <h2 class="ui dividing header">News Paper List</h2>
                <p></p>
            </div>
            <div class="ui  text container">
             
                @Html.ActionLink("Create new Tender types","AddNewsPaper",new {},new {@class="ui basic blue mini button right floated"})
            </div>
            <div class="sixteen wide computer column">
                 @if (!Model.Any())
                 {
                     <div class="ui grid">
                        <h3>You have not created any news Papers. @Html.ActionLink("Create New Tender types", "AddNewsPaper")</h3>
                    </div>
                 }
                 else
                 {
                     <table class="ui selectable celled table compact">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                 
                                <th>Name Amaharic</th>
                                <th>more</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var np in Model)
                            {

                                <tr>
                                    <td>@count</td>
                                     
                                    <td>@np.Name</td>
                                    <td>@np.NameAmharic</td>
                                     
                                    <td>
                                        @Html.ActionLink("edit","EditNewsPaper",new {id=np.Id},new {@class="ui button  basic mini"}) 
                                        @Html.ActionLink("delete","DeleteNewsPaper",new {id=np.Id},new {@class="ui button red basic mini"})                                                                     
                                    </td>
                                </tr>

                                count++;
                            }


                        </tbody>

                    </table>
                 }




            </div>
        </div>
    </div>
</div>
