@model Web.ViewModels.SignUpViewModel

@{
    ViewBag.Title = "Create a sub Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


 


<div class="ph"></div>
<div class="ui grid">
    <div class="twelve wide column">

    </div>

</div>
<div class="ui container grid">
    <div class="ui ten wide column centered">

        <div class="ui grid">
            <div class="ui main text container">
                <h2 class="ui dividing header header-text">Create Sub Admin</h2>
                <p></p>
            </div>
            <div class="sixteen wide computer column">
                <div class="ui segment">
                    @using (Html.BeginForm("AddSubAdmin", "Admin", FormMethod.Post, new { @class = "ui form error", role = "form" }))
                    {
 
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        @Html.AntiForgeryToken()
                            
                        <div class="ui field">
                            <label>email</label>
                            @Html.TextBoxFor(model => model.Email)
                        </div>
                        <div class="ui field">
                            <label>Full Name</label>
                            @Html.TextBoxFor(model => model.FullName)
                        </div>
                        <div class="ui field">
                            <label>Phone Number</label>
                            @Html.TextBoxFor(model => model.PhoneNumber)
                        </div>
                        <div class="ui field">
                            <label>password</label>
                            @Html.PasswordFor(model => model.Password)
                        </div>
                        <div class="ui field">
                            <label>confirm password </label>
                            @Html.PasswordFor(model => model.ConfirmPassword)
                        </div>
                        <div class="ui field">
                            <button class="ui button primary" type="submit">create</button>                                
                            @Html.ActionLink("Cancel","SubAdminList",new {},new {@class="ui button basic"})
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
</div>


 
