@model Web.ViewModels.EditPasswordViewModel

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="ph"></div>
<div class="ui grid">
    <div class="twelve wide column">

    </div>

</div>
<div class="ui container grid">
    <div class="ui ten wide column centered">

        <div class="ui grid">
            <div class="ui main text container">
                <h2 class="ui dividing header">Change Password</h2>
                <p></p>
            </div>
            <div class="sixteen wide computer column">
                 
                    <div class="ui segment">

                        @using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post, new { @class = "ui form", role = "form" }))
                        {
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.AntiForgeryToken()

                            <div class="field">
                                <label>Current password</label>
                                @Html.PasswordFor(model => model.CurrentPassword)
                            </div>

                            <div class="field">
                                <label>New Password</label>
                                @Html.PasswordFor(model => model.NewPassword)
                            </div>

                            <div class="field">
                                <label>Confirm New Password</label>
                                @Html.PasswordFor(model => model.ConfirmNewPassword)
                            </div>

                            <button class="ui button green" type="submit">Save</button>
                            @Html.ActionLink("Cancel", "Setting", new { }, new { @class = "ui button" })

                        }

                    </div>                 
            </div>
        </div>
    </div>
</div>

